@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #717171;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
}

#tv-attr-logo {
  display: none !important;
}

@layer utilities {
  .text-center {
    text-align: center;
    text-align: -webkit-center;
  }
}
@layer components {
  .badge {
    @apply inline-block w-full whitespace-nowrap rounded-2xl bg-white_gray_100 px-1.5 py-1.5 text-center text-[9px] font-bold text-dark dark:text-white;
  }
  .responsive_1 {
    @apply mobile:order-1 mobile:w-full tablet:order-1 tablet:w-full;
  }
  .responsive_2 {
    @apply m-auto max-w-[330px] mobile:order-2 mobile:mt-4 mobile:w-full mobile:max-w-full tablet:order-2 tablet:mt-4 tablet:w-full tablet:max-w-full;
  }
  .responsive_3 {
    @apply m-auto max-w-[330px] mobile:order-3 mobile:mt-4 mobile:w-full mobile:max-w-full tablet:order-3 tablet:mt-4 tablet:w-full tablet:max-w-full;
  }
  .userContainer {
    @apply rounded border border-userBorder bg-white_gray_100 shadow-md dark:border-0 dark:bg-dark_bg_100;
  }

  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexWrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
}
